

body {
    background-color: #000;
    color:antiquewhite;
}

header {
    background-color: #333;
    color: red;
    text-align: center;
    padding: 1em 0;
}

#comments {
    background-color: #111;
    padding: 20px;
}

.comment {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}
